@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hi there</h1>
    <a class="btn btn-primary" asp-action="Expenses" asp-controller="Home">Overview</a>
    <a class="btn btn-primary" asp-action="CreateEditExpense" asp-controller="Home">Create New</a>

</div>
